<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>heahahahahh</h1>
    <frameset rows="80,*">
      <frame src="/top"/>
      <frameset cols="200,*">
        <frame src="/menu"/>
        <frame src="/init" name="mainFrame"/>
      </frameset>
    </frameset>
  </body>
</html>
