<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <ul>
        <% for(let i =0; i< rows.length; i++){ %>
        <li><%= rows[i].id %> -- <%= rows[i].mname %> : <%= rows[i].siteurl %></li>
        <% } %>
    </ul>

  </body>
</html>
