<!DOCTYPE html>
<html lang="zh-CN">
<head>
<link href="/stylesheets/style_grey.css" rel="stylesheet" type="text/css"/>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>登录页面</title>
</head>
<body>
<div class="text-center" style="color: red;">
    <%=message %>
</div>
<form id="form1" name="form1" action="/users/" method="post" class="basic-grey">
<h1>
<span>管理员登录</span>
</h1>
<label>
<span>Your Name :</span>
<input id="name" type="text" name="username" placeholder="Your Name" />
</label>
<label>
<span>Your Password :</span>
<input id="password" type="password" name="password" placeholder="Your Password" />
</label>
<label>
<span>&nbsp;</span>
<input type="submit" class="button" value="登录" />
</label>
</form>
</body>
</html>