<%- defineContent('top') %>
<style type="text/css">
    body,h1{
        margin:0;
        padding:0;
    }

    .info{
        float:right;
        padding-right:20px;
        line-height:80px;
        font-size:14px;
        font-weight:normal;
    }
</style>
<h1 style="line-height:80px;">报表系统-V1.0<span class="info">您好,<%=username%>></span></h1>