@CHARSET "UTF-8";
/* Basic Grey */

:host {
  display: block;
  height: 100vh;
  background: url("assets/bg.jpg?a=1") no-repeat center;
  font-family: "Microsoft Yahei";
}

.row {
  margin-top: 135px;
}

.seal {
  padding: 60px 50px 0 104px;
  color: #fff;
}

.seal p {
  text-indent: 2em;
  margin-top: 1.5em;
  font-size: 1.3em;
}

.basic-grey {
  color: #fff;
  width: 400px;
  margin-left: 50px;
  background-color: rgba(20, 25, 36, .8);
  padding: 3em;
}

.basic-grey .message {
  margin-bottom: 1em;
}

.basic-grey .input-group .input-group-addon,
.basic-grey .input-group .form-control {
  border-radius: 0;
}

.basic-grey .input-group {
  margin-bottom: 2em;
}

.basic-grey .btn {
  border-radius: 0;
}

:-webkit-autofill {
  background-color: #fff;
}
