/* You can add global styles to this file, and also import other style files */

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-left {
  margin-left: 20px;
}

.margin-right {
  margin-right: 20px;
}

form.show-error input.ng-invalid {
  outline: 1px solid #9E3F3F;
}

.not-allow-modify {
  background-color: #eee;
  pointer-events: none;
}

.readonly-all {
  pointer-events: none;
}

.readonly-all input, .readonly-all select {
  background-color: #eee;
}

form {
  background-color: #F7F7F7;
}

.disabled-all-input {
  pointer-events: none;
}

.disabled-all-input input {
  background-color: #e6e6e6;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .2);
  text-align: center;
}

.layer progress {
  margin-top: 45vh;
}
